#view_content {

}

#save_edited {
     margin-top: 1px;
     margin-right: 2px;
     top:0;
     right:0;
 }

 #htmlcontent{
 		/*//top: 0; left: 0; bottom: 0; right: 0;*/
    box-shadow: inset 1px 1px 3px 4px rgba(0,0,0,0.3);
    width:inheri;t;
    height:1000px;
    overflow: scroll;
 }

 #data_container{

 }

